table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table th {
    position: sticky;
    top: 0;
}

table tfoot td {
    position: sticky;
    bottom: 0;
    font-weight: 800;
    border: 1px #dddddd solid;
}
