<div style="max-width: 80%; max-height: 500px; overflow: auto;">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Company</th>
                <th>Data Entry</th>
                <th>Org Number</th>
                <th>Address 1</th>
                <th>City</th>
                <th>Zip</th>
                <th>Geo</th>
                <th>PAN</th>
                <th>Pin</th>
                <th>Status</th>
                <th>Fee</th>
                <th>Guid</th>
                <th>Date Exit</th>
                <th>Date First</th>
                <th>Date Recent</th>
                <th>Url</th>
            </tr>
        </thead>
        <tr *ngFor="let d of data">
            <td>{{ d.id }}</td>
            <td>{{ d.name }}</td>
            <td>{{ d.phone }}</td>
            <td>{{ d.email }}</td>
            <td>{{ d.company }}</td>
            <td>{{ d.date_entry }}</td>
            <td>{{ d.org_num }}</td>
            <td>{{ d.address_1 }}</td>
            <td>{{ d.city }}</td>
            <td>{{ d.zip }}</td>
            <td>{{ d.geo }}</td>
            <td>{{ d.pan }}</td>
            <td>{{ d.pin }}</td>
            <td>{{ d.status }}</td>
            <td>{{ d.fee }}</td>
            <td>{{ d.guid }}</td>
            <td>{{ d.date_exit }}</td>
            <td>{{ d.date_first }}</td>
            <td>{{ d.date_recent }}</td>
            <td>{{ d.url }}</td>
        </tr>

        <tfoot>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Phone</td>
                <td>Email</td>
                <td>Company</td>
                <td>Data Entry</td>
                <td>Org Number</td>
                <td>Address 1</td>
                <td>City</td>
                <td>Zip</td>
                <td>Geo</td>
                <td>PAN</td>
                <td>Pin</td>
                <td>Status</td>
                <td>Fee</td>
                <td>Guid</td>
                <td>Date Exit</td>
                <td>Date First</td>
                <td>Date Recent</td>
                <td>Url</td>
            </tr>
        </tfoot>
    </table>
</div>
